.header-nav {
    .menu {
        &-nav {
            height: 100%;

            >.menu-list {
                height: 100%;
                justify-content: center;

                >.menu-item {
                    height: 100%;
                    @include flex;
                    align-items: center;
                    padding: 0 1rem;

                    &:not(:first-child) {
                        margin-left: 2rem;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 3.3rem;
                        bottom: 0;
                        left: calc(100% - 0.06rem);
                        z-index: -1;
                        clip-path: $clipright;
                        transition: inherit;
                        z-index: 2;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 3.3rem;
                        bottom: 0;
                        right: calc(100% - 0.06rem);
                        z-index: -1;
                        clip-path: $clipleft;
                        transition: inherit;
                        z-index: 2;
                    }

                    @include min($res-mobile-min) {
                        &:hover {
                            background-color: $color-pri;

                            &::before {
                                // width: 100%;
                                background-color: $color-pri;
                            }

                            &::after {
                                // width: 100%;
                                background-color: $color-pri;
                            }
                        }
                    }

                    &:hover {
                        >.menu-link {
                            color: $color-white;
                        }

                        .mega {
                            transform: translate(-50%, 0);
                            visibility: visible;
                            opacity: 1;
                        }

                        .mega-overlay {
                            @include show;
                        }
                    }

                    >.menu-link {
                        height: 100%;
                        @include flex;
                        align-items: center;
                        @include fz-16;
                        color: $color-text;
                        padding: 2rem 0;
                        font-weight: 400;
                    }

                    &.current_page_item {
                        >.menu-link {
                            color: $color-pri;
                        }

                        &::before {
                            width: 100%;
                        }
                    }

                    >.menu-list {
                        top: calc(100% + 1rem);
                    }
                }
            }
        }

        &-list {
            @include flex;
            align-items: center;
        }

        &-item {
            position: relative;
            transition: 0s ease-in-out;

            &:hover {
                >.menu-list {
                    @include min($res-mobile-min) {
                        @include show;
                    }

                    >.menu-item {
                        &.current_page_item {
                            >a {
                                color: $color-pri;

                                >i {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .menu-link {
                @include transition(0.2s, ease-in-out);

                i {
                    @include transition(0.2s, ease-in-out);
                }
            }

            >.menu-link {
                color: $color-white;
                font-weight: 500;
                display: block;
                font-size: 1.6rem;

                >i {
                    display: none;
                    font-weight: 600;
                    margin-left: 0.4rem;
                    @include fz-10;
                    margin-top: 0rem;
                }
            }

            &.dropdown {
                >a {
                    >i {
                        display: inline-block;
                    }
                }
            }

            >.menu-list {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 25rem;
                padding-bottom: 1rem;
                @include flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: $color-pri;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
                border-top: none;
                border-radius: 1rem;
                @include transitionRe;

                // &:after {
                //     content: '';
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 2px;
                //     background-color: $color-four
                // }
                @include min($res-mobile-min) {
                    @include hidden(0, 5px);
                }

                >.menu-item {
                    margin-left: 0;
                    width: 100%;

                    @include min($res-mobile-min) {
                        &:hover {

                            >.menu-link {
                                color: $color-white;

                                &::after {
                                    opacity: 1;
                                    width: 5rem;
                                }

                                >i {
                                    // color: white;
                                }
                            }
                        }
                    }

                    >.menu-link {
                        padding: 1rem;
                        @include flex;
                        align-items: center;
                        justify-content: space-between;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 1rem;
                            bottom: 0;
                            width: 0%;
                            height: 0.4rem;
                            background-color: $color-white;
                            @include transition(0.2s, ease-in-out);
                            opacity: 0;
                            border-radius: 100rem;
                        }

                        >i {
                            transform: rotate(-90deg) translate(5px, 0);
                            margin-top: 0.8rem;
                        }
                    }

                    >.menu-list {
                        left: calc(100% + 0.2rem);
                    }
                }
            }
        }
    }
}

.mobile-nav {
    .menu {
        &-nav {
            >.menu-list {
                >.menu-item {
                    &.current_page_item {
                        >a {
                            color: $color-pri;
                        }
                    }

                    >a {
                        padding: 1.2rem;
                        @include flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #303030;
                        font-size: 1.4rem;
                        font-weight: 600;
                        // text-transform: uppercase;
                        border-bottom: 1px solid $color-border;

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        &-item {
            &.dropdown {
                >a {
                    >i {
                        display: flex;
                    }
                }
            }

            &.active {
                >a {
                    color: $color-pri;

                    >i {
                        transform: rotate(180deg);
                    }
                }
            }

            a {
                position: relative;

                i {
                    width: 2rem;
                    height: 2rem;
                    @include mid-flex;
                    display: none;
                    @include transitionRe;
                }
            }

            >a {
                @include flex;
                align-items: center;
                justify-content: space-between;
                // padding: 1.2rem 1.2rem 1.2rem 2.4rem;
                padding: 1.2rem;
                font-size: 1.4rem;
                color: #303030;
                font-weight: 500;
                // &::before {
                //     content: "";
                //     position: absolute;
                //     @include posi-vertical;
                //     left: 1.4rem;
                //     width: 4px;
                //     height: 4px;
                //     border-radius: 100rem;
                //     border: 1px solid #303030;
                // }
            }

            >.menu-list {
                display: none;
                margin-left: 1.6rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 2rem;
                    bottom: 2rem;
                    left: 0;
                    width: 1px;
                    background-color: $color-border;
                }

                >.menu-item {
                    &.current_page_item {
                        >a {
                            color: $color-pri;
                        }
                    }

                    // >.menu-list {
                    //     >.menu-item {
                    //         >a {
                    //             padding: 1.2rem 1.2rem 1.2rem 3.2rem;
                    //             &::before {
                    //                 left: 2rem;
                    //             }
                    //         }
                    //         >.menu-list {
                    //             >.menu-item {
                    //                 >a {
                    //                     padding: 1.2rem 1.2rem 1.2rem 4rem;
                    //                     &::before {
                    //                         left: 3rem;
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}

.mega {
    position: fixed;
    left: 50%;
    right: 0;
    width: 100%;
    min-height: 70vh;
    height: 70rem;
    max-width: 120rem;
    padding-top: 2rem;
    z-index: -1;
    top: 7.5rem;
    transform-origin: top;
    @include hidden(-50%, -100%);
    @include transition(0.4s, ease);

    &.close {
        @include hidden(-50%, -100%);
    }

    &-overlay {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        height: 100%;
        top: 2rem;
        @include hidden(0, -100%);
        @include transition(0.6s, ease);
        z-index: -2;
        display: none;
    }

    &-side {
        min-height: inherit;
        background-color: #F5F5F5;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        overflow: hidden;
        border-radius: 0.8rem;

        .dsmall-item {
            margin-bottom: 0;
        }

        &-left {
            width: calc(100%*(3/12));
            min-height: inherit;
            background-color: white;
            box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.05);
        }

        &-right {
            width: calc(100%*(9/12));
            min-height: inherit;
        }
    }

    .container {
        min-height: inherit;
    }

    &-sidebar {
        height: 100%;
        padding: 4rem 2.4rem;
        min-height: inherit;

        &-list {}

        &-item {
            border-bottom: 1px solid $color-border;

            &:first-child {
                a {
                    padding-top: 0;
                }
            }

            &.active {
                a {
                    color: $color-pri;
                    font-weight: 500;
                }
            }

            &.current_page_item {
                a {
                    color: $color-pri;
                    font-weight: 500;
                }
            }

            &:hover {
                a {
                    color: $color-pri;
                    font-weight: 500;
                }
            }

            a {
                padding: 1.6rem 0;
                padding-right: 1.6rem;
                @include flex;
                align-items: center;
                justify-content: space-between;
                color: #808080;

                i {
                    font-weight: 400;
                }
            }
        }
    }

    &-menu {
        padding: 4rem 0;
        overflow-y: auto;
        overflow-x: hidden;
        display: none;
        animation: megaAni 0.3s ease-in-out;

        &.open {
            display: block;
        }

        &-row {}

        &-col {
            width: calc(100% /5);
        }

        &-title {
            color: $color-text;
            font-weight: 500;
            padding-bottom: 1.2rem;
            margin-bottom: 1.2rem;
            border-bottom: 1px solid $color-border;
            width: calc(100% + 2.4rem);
        }

        &-list {}

        &-item {
            &:not(:last-child) {
                margin-bottom: 0.4rem;
            }

            &:hover {
                a {
                    color: $color-pri;
                }
            }

            &.current_page_item {
                a {
                    color: $color-pri;
                }
            }

            a {
                color: #808080;
                @include transitionRe;
            }
        }
    }
}

@keyframes megaAni {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}