$color-pri: #00552B;
$color-pri2:rgba(94, 194, 76, 0.6);
$color-second: #FFCB01;
$color-third: #FF5C33;
$color-four: #73A822;
$color-five: #3385FF;
$color-six:#EDEDED;
$color-eight:#F2F2F2;
$color-nine:#D8AA06;
$color-ten:#929292;
$color-black: #000000;
$color-white: #ffffff;
$color-text:#020D00;
$color-sub-text:rgba(2, 13, 0, 0.5);
$color-border: rgba(0, 0, 0, 0.1);
$color-white-opa2:rgba(255, 255, 255, 0.2);
$color-black-opa1:rgba(0,0,0,0.1);
//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 500px;
//Distance
$distance-header: 136px;
$distance-header-mobile: 72px;
$distance-header-sticky: 60px;
$distance-header-mobile-sticky: 56px;
$border-line: 1px solid rgba(0, 0, 0, 0.1);
$radius: 6px;
//Clip path
$clipleft: polygon(100% 0, 0 0, 100% 100%);
$clipright: polygon(0 0, 0 100%, 100% 100%);
//Grid 
$grid-gutter-width: 2.4rem;
$grid-columns: 12;
$gutters: (
  1: 2.4rem,
);

$xxs-min: 376px;
$xs-min: 576px; // CÓ THỂ TÙY CHỈNH
$sm-min: 768px; // KHÔNG THAY ĐỔI
$md-min: 992px; // KHÔNG THAY ĐỔI
$lg-min: 1200px; // KHÔNG THAY ĐỔI
$xl-min: 1400px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 0.02); // Smallest Mobile
$xs-max: ($xs-min - 0.02); // Small Mobile
$sm-max: ($sm-min - 0.02); // Mobile
$md-max: ($md-min - 0.02); // Tablet
$lg-max: ($lg-min - 0.02); // Desktop
$xl-max: ($xl-min - 0.02); // Large Desktop

$grid-breakpoints: (
  "xxs": $xxs-min,
  "xs": $xs-min,
  "sm": $sm-min,
  "md": $md-min,
  "lg": $lg-min,
  "xl": $xl-min,
);